{% extends "je_assistant/base_je_assistant.html" %}
{% load static %}
{% block content %}
    {% if list_albums%}
    <div class="container my-4 pb-4">
        <hr>
        <h2 class="p-3">Artist's Albums:</h2>
        <div class="row g-4">
            {% for album in list_albums %} 
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="card h-100">
                        <div class="card-body cards-link">
                            <a href="{% url 'album_info' album.album_id  %}">   
                                <div class="p-3">
                                    <img src="{{album.album_image}}" class="thumb-size img-thumbnail" alt="">
                                </div>
                                <div class="text-body p-2"> 
                                    <label class="title">Artista:</label>
                                    <p name="artist_name">{{album.artist_name}} </p>
                                    <label class="title">Album:</label>
                                    <p name="artist_id">{{ album.album_name}}</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
    {% endif %}
{% endblock %}
 