{% extends "je_assistant/base_je_assistant.html" %}
{% load static %}
{% block content %}
    {% if list_artists_tracks%}
		{% if list_artists_tracks.artists %}
			<div class="container my-4">
				<hr>
				<h2 class="p-3">Artists:</h2>
				<div class="row g-4">
					{% for artist in list_artists_tracks.artists %} 
						<div class="col-12 col-sm-6 col-lg-4">
							<div class="card h-100">
								<div class="card-body cards-link">
									<a href="{% url 'artist_albums' artist.artist_id  %}">   
											<div class="p-3">
												<img src="{{artist.artist_image}}" class="thumb-size img-thumbnail" alt="">
											</div>
											<div class="text-body p-2"> 
												<label class="title">Artista:</label>
												<p name="artist_name">{{artist.artist_name}} </p>
												<label class="title">Artist ID::</label>
												<p name="artist_id">{{artist.artist_id}}</p>
											</div>
									</a>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		{% endif %}
		
		{% if list_artists_tracks.tracks %}
			<div class="container my-4 pb-4">
				<hr>
				<h2 class="pt-3">Tracks:</h2>
				<div class="row g-4">
					{% for track in list_artists_tracks.tracks %} 
						<div class="col-12 col-sm-6 col-lg-4">
							<div class="card h-100">
								<div class="card-body cards-link">
									<a href="{% url 'album_info' track.track_album_id %}">   
										<div class="p-3">
											<img src="{{track.track_image}}" class="thumb-size img-thumbnail" alt="">
										</div>
										<div class="text-body p-2"> 
											<label class="title">Track:</label>
											<p name="artist_name">{{track.track_name}} </p>
											<label class="title">Track ID::</label>
											<p name="artist_id">{{track.track_id}}</p>
											<label class="title">Artist:</label>
											<p name="track_artist">{{track.track_artist}}</p>
											<label class="title">Album:</label>
											<p name="track_album">{{track.track_album}}</p>
											<label class="title" >Album ID:</label>
											<p name="track_album_id">{{track.track_album_id}}</p>
										</div>
									</a>
								</div>
							</div>
						</div>	
					{% endfor %}	
				</div>
			</div>			
		{% endif %}
            
	{% endif %}
           
{% endblock %}
 