{% extends "portfolio/base_portfolio.html" %}

{% block content %}

        <div class="row">
            <div class="col-8 content" id="english_content" >
            <h1 class="montserrat-font body-font px-3"> Hi, I'm Ana </h1>
            <p class="montserrat-font body-font ft-body-size mt-4 px-3"> I'm an I.T professional with about 8 years of experience now. During these years had the chance to work as web developer, execution tester and security support on cloud servers</p>
            <p class="montserrat-font body-font ft-body-size mt-4 px-3"> This web page was created using Python, Javascript, Django, Bootstrap and google fonts, text content, images and animations are autoral creations. </p>
            </div> 
        
            <div class="col content">
                {% load static %}
                <img src="{% static 'portfolio/img/char_sem_ruido.gif' %}" class="img-fluid gif-intro"  alt="">
            </div>
        </div>
    
{% endblock %}

