{% extends "portfolio/base_portfolio.html" %}

{% block content %}
        <div class="row">
            <div class="col content ">
                {% load static %}

                <img src="{% static 'portfolio\img\char_thinking.gif' %}" class="img-fluid gif-intro"  alt="">
            </div>
            <div class="col-8 content" id="english_content" >
              <h1 class="montserrat-font body-font px-3">Page in Construction </h1>
              <p class="montserrat-font body-font ft-body-size mt-4 px-3"> Hello stranger, all my project are being updated using Django, but don't you worry this session will be available soon.</p>
            </div> 
        </div>
    
{% endblock %}

