{% extends "portfolio/base_portfolio.html" %}
{% load static %}
                
{% block content %}
    <div class="container row">
        <div class="col p-4 m-2">
            <a href="{% url 'index_morse' %}">
                    <div class="align-center card p-4">
                        <img src="{% static 'portfolio/img/morse_thumb.jpg' %}" class="img-fluid img-thumbs p-3 img-thumbnail" alt="...">
                        <p class="projects-link text-center body-font pt-3"> Morse Translator</p>
                        <p class="projects-link text-center body-font"> A text translator to morse code  </p>
                    </div>
            </a>
        </div>
        <div class="col p-4 m-2">
            
        </a>
        </div>
        <div class="col p-4 m-2">
                
        </div>

        
    </div>
    
        
{% endblock %}

