@import "style.css"; 

.field_input{
    border-style: solid;
    border-color: var(--warmSand);
    border-radius: 45px;
}

.modal-content{
    border-radius: 50px;
    border: none;
}

.text-label{
    color: var(--potteryWheel);
    text-decoration: none;
    
}

.close-btn{
    color: var(--potteryWheel);
    background-color: transparent;
    border: none;
    opacity: 80%;
}

.close-btn:hover{
    opacity: 100%;
}

.close-btn:active{
    border: solid;
    border-radius: 10px;
    opacity: 50%;
}