
/* .container-fluid{
    max-width: 100vw;
    min-height: 100%;
    height: 100%;
    background-color: darkcyan;
}

.container-sm{
    padding: 3vh;
} */
.header{
    background-color:burlywood;
}

.menu{
    background-color:blueviolet;
}

.content{
    background-color:cadetblue;
}

.footer{
    background-color:chocolate;
}

.title{
    padding: 10px;
}