{% extends "portfolio/base_portfolio.html" %}
{% load static %}
                
{% block content %}
    <div class="container row">
        <div class="col p-4 m-2">
            <a href="{% url 'index_morse' %}" target="_blank">
                    <div class="align-center card h-100 p-4">
                        <img src="{% static 'portfolio/img/morse_thumb.jpg' %}" class="img-fluid img-thumbs p-3 img-thumbnail" alt="...">
                        <p class="projects-link text-center body-font pt-3"> Morse Translator</p>
                        <p class="projects-link text-center body-font"> A text translator to morse code  </p>
                    </div>
            </a>
        </div>
        <div class="col p-4 m-2">
            <a href="{% url 'index_je' %}" target="_blank">
                    <div class="align-center card h-100 p-4">
                        <img src="{% static 'portfolio/img/thumb_je.jpg' %}" class="img-fluid img-thumbs p-3 img-thumbnail" alt="...">
                        <p class="projects-link text-center body-font pt-3"> Jessica's Assistant</p>
                        <p class="projects-link text-center body-font"> with an Spotify API integration is possible to list all relevant data of Artist or Track to work on QA tests </p>
                    </div>
            </a> </div>
        <div class="col p-4 m-2"> </div>
    </div>
    
        
{% endblock %}

