

{% extends "portfolio/base_portfolio.html" %}

{% block content %}

<div id="english_content" style="display: block;">
    <h1 class="montserrat-font fw-bold body-font px-3"> Technologies I have worked </h1>
    <div class="row pb-2">
        <div class="col body-font">
            <ul class="mt-3 card h-100 p-4">
                <h6 class="fw-bolder "> Programming Languages</h6>
                <li >Python</li>
                <li>Javascript</li>
                <li>Java</li>
            </ul></div>
        <div class="col body-font">
            <ul class="mt-3 card h-100 p-4">
                 <h6 class="fw-bolder"> Testing & Management Tools</h6>
                    <li >Pytest</li>
                    <li >JUnit</li>
                    <li>SOAP UI</li>
                    <li>IBM Tivoli Workload Scheduler (TWS)</li>
                    <li>Insomnia</li>
                    <li>JIRA</li>
            </ul>
        </div>
        <div class="col body-font">
            <ul class="mt-3 card h-100 p-4">
                 <h6 class="fw-bolder"> Methodologies & Logic</h6> 
                    <li >Agile</li>
                    <li>SaFe</li>
                    <li>Scrum</li>
                    <li> Logic Programming</li>
            </ul>
        </div>
    </div>
    <div class="row pb-2">
        <div class="col body-font">
            <ul class="mt-3 card h-100 p-4">
                 <h6 class="fw-bolder"> Front-end</h6>
                    <li>Javascript</li>
                    <li>Bootstrap </li>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>React</li>
            </ul>
        </div>
        <div class="col body-font">
             <ul class="mt-3 card h-100 p-4">
                <h6 class="fw-bolder"> Servers</h6>
                <li>Linux </li>
                <li>Windows</li>
                <li>Red Hat</li>
                <li>AIX</li>
            </ul>
        </div>
        <div class="col body-font">
             <ul class="mt-3 card h-100 p-4">
                 <h6 class="fw-bolder"> IDEs & Tools</h6>
                    <li>VSCode</li>
                    <li>STS</li>
                    <li>Vi/Vim</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col body-font">
            <ul class="mt-3 card h-100 p-4">
                 <h6 class="fw-bolder"> Frameworks & Libraries</h6>
                    <li>Flask</li>
                    <li>Django</li>
                    <li>Spring Boot</li>
                    <li>Hibernate</li>
                    <li>SQLAlchemy</li>
                    <li>JPA</li>
            </ul>
        </div>
        <div class="col body-font">
            <ul class="mt-3 card h-100 p-4">
                 <h6 class="fw-bolder"> Databases</h6>
                    <li>SQL</li>
                    <li>MySQL</li>
                    <li>PostgreSQL</li>
                    <li>IBM DB2</li>
            </ul>
        </div>
        <div class="col body-font">
            <ul class="mt-3 card h-100 p-4">
                 <h6 class="fw-bolder"> Version Control & DevOps</h6>
                    <li>Git</li>
                    <li>GitHub</li>
                    <li>GitLab</li>
                    <li>AWS EC2</li>
                    <li>Jenkins</li> 
           </ul>
        </div>
    </div>
   
</div>


{% endblock %}

