

{% extends "portfolio/base_portfolio.html" %}

{% block content %}

<div id="english_content" style="display: block;" class="adjust-height">
    <h1 class="montserrat-font fw-bold body-font px-3"> Technologies I have worked </h1>
    <div class="row ">
        <div class="col body-font p-4">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed montserrat-font body-font" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                            Programming Languages
                        </button>
                    </h2>
                    <div id="collapse1" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p>Python</p>
                            <p>Javascript</p>
                            <p>Java</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed montserrat-font body-font" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                        Front-end
                    </button>
                </h2>
                <div id="collapse2" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p> Javascript</p>
                        <p> Bootstrap</p>
                        <p> HTML</p>
                        <p> CSS</p>
                        <p> React</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed montserrat-font body-font" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                        Frameworks & Libraries
                    </button>
                </h2>
                <div id="collapse3" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p>Flask</p>
                        <p>Django</p>
                        <p>Spring Boot</p>
                        <p>Hibernate</p>
                        <p>SQLAlchemy</p>
                        <p>JPA</p>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="col body-font p-4">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed montserrat-font body-font" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                            Testing & Management Tools
                        </button>
                    </h2>
                    <div id="collapse4" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p>Pytest</p>
                            <p>JUnit</p>
                            <p>SOAP UI</p>
                            <p>IBM Tivoli Workload Scheduler (TWS)</p>
                            <p>Insomnia</p>
                            <p>JIRA</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed montserrat-font body-font" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                        Servers
                    </button>
                </h2>
                <div id="collapse5" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p>Linux</p>
                        <p>Windows</p>
                        <p>Red Hat</p>
                        <p>AIX</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed montserrat-font body-font" type="button" data-bs-toggle="collapse" data-bs-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                        Databases
                    </button>
                </h2>
                <div id="collapse6" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p>SQL</p>
                        <p>MySQL</p>
                        <p>PostgreSQL</p>
                        <p>IBM DB2</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col body-font p-4">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed montserrat-font body-font" type="button" data-bs-toggle="collapse" data-bs-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                            Methodologies & Logic
                        </button>
                    </h2>
                    <div id="collapse7" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p>Agile</p>
                            <p>SaFe</p>
                            <p>Scrum</p>
                            <p>Logic Programming</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed montserrat-font body-font" type="button" data-bs-toggle="collapse" data-bs-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
                        IDEs & Tools
                    </button>
                </h2>
                <div id="collapse8" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p>VSCode</p>
                        <p>STS</p>
                        <p>Vi/Vim</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed montserrat-font body-font" type="button" data-bs-toggle="collapse" data-bs-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
                        Version Control & DevOps
                    </button>
                </h2>
                <div id="collapse9" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p>Git</p>
                        <p>GitHub</p>
                        <p>GitLab</p>
                        <p>AWS EC2</p>
                        <p>Jenkins</p>
                    </div>
                </div>
            </div>
        </div>
    </div>   
</div>


{% endblock %}

