

{% extends "portfolio/base_portfolio.html" %}

{% block content %}

<div id="english_content" style="display: block;">
    <h1 class="montserrat-font fw-bold body-font px-3"> Technologies I have worked </h1>
    <div class="row">
        <div class="col body-font">
            <ul class="mt-3">
                <h6 class="fw-bolder"> Web Development</h6>
                <li class="mt-2">Python</li>
                <li>Javascript</li>
                <li>Bootstrap</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>Django</li>
                <li>Flask</li>
                <li>SQLAlchemy</li>
                <li>PostgreSQL</li>
                <li>Insomnia</li>
                <li>Postman</li>
                <li>Selenium</li>
            </ul>
        </div>
        <div class="col body-font">
            <ul class="mt-3">
                <h6 class="fw-bolder"> Execution tests </h6>
                <li class="mt-2">Tivoli Scheduler</li>
                <li>DB2</li>
                <li>SQL</li>
                <li>Linux</li>
                <li>VI/VIM</li>
                <li>Python</li>
            </ul>
        </div>
        <div class="col body-font">
            <ul class="mt-3">
                <h6 class="fw-bolder"> Support of Infrastructure </h6>
                <li class="mt-2">Servers: Linux, Windows</li>
                <li>Rational Lifecycle</li>
                <li>Queue Management</li>
                <li>Security vulnerabilities resolution</li>
            </ul>
        </div>
    </div>
    
</div>


{% endblock %}

