{% load static %}

    <nav class="navbar ps-4 barra">
    
    <div class="justify-content-start pt-5 ">
                <a class="button me-3 borel-regular fs-4" href="{% url 'index_portfolio' %}" id="home_bt"  > Home </a>
                <a class="button me-3 borel-regular fs-4" href="{% url 'skills_portfolio' %}" id="skills_bt" > Skills </a>
                <a class="button me-3 borel-regular fs-4" href="{% url 'resume_portfolio' %}" id="resume_bt" > Resume </a>
                <a class="button me-3 borel-regular fs-4" href="{% url 'projects_portfolio' %}" id="projects_bt" > Projects </a>
            </div>
        
    </nav>
   
    <hr>

