{% load static %}
<nav class="navbar ps-4 barra">
    <!-- {% if link %}
        <div class="justify-content-start pt-5">
            <a class="button me-3 borel-regular fs-4 active" href="{% url 'index_portfolio' %}" id="home_bt" > Home </a>
            <a class="button me-3 borel-regular fs-4" href="{% url 'skills_portfolio' %}" id="skills_bt"> Skills </a>
            <a class="button me-3 borel-regular fs-4" href="{% url 'resume_portfolio' %}" id="cv_bt"> Resume </a>
            <a class="button me-3 borel-regular fs-4" href="{% url 'projects_portfolio' %}" id="cv_bt"> Projects </a>
        </div>
    {% else %} -->

        <div class="justify-content-start pt-5" onload="alertTeste()">
            <a class="button me-3 borel-regular fs-4" href="{% url 'index_portfolio' %}" id="home_bt"  onclick="activeURL('{{id}}')"> Home </a>
            <a class="button me-3 borel-regular fs-4" href="{% url 'skills_portfolio' %}" id="skills_bt"> Skills </a>
            <a class="button me-3 borel-regular fs-4" href="{% url 'resume_portfolio' %}" id="cv_bt"> Resume </a>
            <a class="button me-3 borel-regular fs-4" href="{% url 'projects_portfolio' %}" id="cv_bt"> Projects </a>
        </div>
    <!-- {% endif %} -->
    <!-- <div class="form-check form-switch"  >
        <input class="form-check-input" type="checkbox" name='lang_switch' id="flexSwitch" role="switch" checked>
        <label class="form-check-label montserrat-font color-hot-brown" for="flexSwitch">EN</label>
    </div>
     -->
</nav>
<hr>

