/* CSS HEX */
:root{
    --champagne-pink:#F8E0CFff ;
    --apricot: #F7C7AAff ;
    --melon: #DAABA3ff ;
    --tea-rose-red: #D9B3ADff ;
    --pale-dogwood: #DBC0B1ff ;
    --ice-white: rgb(251, 241, 233);

    /* font-color-pallete */
    --red-brown: #6B240C;
    --red-brown-shadow: #6B240C78;
    --hot-brown: #974d1c;
    --light-orange: #E48F45;
    --beige:#F5CCA0;
}

/* configs globais */
hr{
    color: var(--hot-brown);
}

li{
    margin-left: 15px;
}

a {
    text-decoration: none;
}

/* botao menu */
.button{
    padding: 5px;
    color: var(--hot-brown);
    text-decoration: none;
}

.button:hover {
    color: var(--red-brown);
}

/* botao download */
.button_download{
    padding: 10px;
    color: var(--champagne-pink);
    background-color: var(--red-brown);
    border-radius: 10px;
    border: none;
    text-decoration: none; 
}

.button_download:hover {
    background-color: var(--hot-brown);
    color: var(--champagne-pink);
    border-color: var(--red-brown);
    text-decoration: none; 
}

.button_download:active {
    background-color: var(--red-brown);
    transform: translateY(4px);
}

/* icones contatos */
.svg-icon{
    width: 80px;
    height: 80px;
    fill:var(--red-brown); /* Cor do ícone */
}

.svg-icon:hover{
    width: 75px;
    height: 75px;
    fill:var(--hot-brown); /* Cor do ícone */
}

/* classes de cores */
.color-hot-brown{
    color: #994D1C;
}

.body-font{
    color: var(--red-brown);
}

.bkg-card{
    background-color: var(--apricot);
}

.card{
    border-color: var(--hot-brown);
}

/* animação */
.gif-intro{
    max-width: 40vw;
    max-height: 40vh;
    background-color: white;
    border-radius: 50%;
}

/* alinhamentos */
.center{
    padding-left: 25%;
}

/* form */
.form-switch .form-check-input {
  color: var(--hot-brown);
}

.form-switch .form-check-input:focus {
    border-color: var(--red-brown);
    outline: 0;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(0,0,0,0.25)'/></svg>");
}
.form-switch .form-check-input:checked {
    background-color: var(--hot-brown);
    border-color:var(--red-brown);
    border: none;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(255,255,255,1.0)'/></svg>");
}

.contact-form{
    width: 50rem;
}

/* imagens */
.img-thumbs{
    border-radius: 3vb;
}

.img-thumbnail-2{
    border-color: var(--hot-brown);
}



